.employee-list-container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 0 2vw;
}

.employee-list {
  width: 100%;

}
.employee-list-item {
  width: 100%;
  margin-bottom: 5px;
}

.employee-list-item:hover {
  box-shadow: 0 0 12px -6px #333;
}