.carusel-container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  margin-bottom: 30px;
}
.slick-slide, .slick-slide *{ outline: none !important; }

 .avatar-carusel {
  /* overflow: hidden;  */
  width: 90%;
  margin: 0 auto;
  height: 100px;
  margin: auto;
  background-color: #fff;
  padding: 10px;
} 

.avatar-carusel .slick-slide {
  cursor: pointer;
}

.slick-slide .image {
  padding: 10px;
}
.slick-slide img {
  border: 2px solid #4fa13f;
  border-radius: 50%;
  display: block;
  margin: auto;
} 

@media screen and (max-width: 600px) {
  .avatar-carusel {
    width: 100%;
  }
}
